{% extends "base.html" %}
{% load static %}

{% block title %}
    Войти
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header.html" %}
{% endblock %}

{% block content %}
    <form class="form-account" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-light">Login</h1>

        <input type="email" name="username" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

        {% for field in form %}
            {% for error in field.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}

        <button class="btn btn-lg btn-secondary btn-block" type="submit">Log in</button>
        <a class="text-light" href="{% url 'password_reset' %}">Lost password?</a>

    </form>
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}