{% extends "base.html" %}
{% load static %}

{% block title %}
    Войти
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header_login.html" %}
{% endblock %}

{% block content %}
    <div class="login_page_form">

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}

                </p>
            {% endfor %}

            {% for field in form %}
                {% for error in field.errors %}
                    <p style="color: red;">{{ error }}</p>
                {% endfor %}
            {% endfor %}

            {% if form.non_field_errors %}
                <div style="color:red;">
                    <p>{{form.non_field_errors}}</p>
                </div>
            {% endif %}

            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}