{% extends "base.html" %}
{% load static %}

{% block title %}
    Восстановление аккаунта
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}

<form class="form-account" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal text-light">Reset password</h1>

    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>

    {% for field in form %}
        {% for error in field.errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endfor %}

    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <p class="error">{{ error }}</p>
        {% endfor %}
    {% endif %}

    <button class="btn btn-lg btn-secondary btn-block" type="submit" value="ResetPassword">Reset</button>
</form>

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}