{% extends "base.html" %}
{% load static %}

{% block title %}
    Смена пароля
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}


{% block content %}

    {% if validlink %}
        <h1 class="h3 mb-3 font-weight-normal text-light">Please enter (and confirm) your new password.</h1>
        <form class="form-account" method="post">
            {% csrf_token %}
            <input type="password" class="form-control" name="new_password1" required id="id_new_password1" placeholder="New password">
            <input type="password" class="form-control" name="new_password2" required id="id_new_password2" placeholder="Confirm password">

            {% for field in form %}
                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endfor %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <button class="btn btn-lg btn-secondary btn-block" type="submit">Change password</button>
        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}