{% extends "base.html" %}
{% load static %}

{% block title %}
    Изменение пароля
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column">
            <p class="m-auto text-light">Твой пароль был изменен!</p>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'core/js/testing.js' %}"></script>
{% endblock %}