{% extends "base.html" %}
{% load static %}

{% block title %}
    Password change
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/ico/wrench.ico' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="d-flex flex-column">
            <p class="mx-auto mt-3 text-light">Your password has been restored!</p>
            <a class="btn btn-secondary mx-auto mt-3 text-light" href="{% url 'login' %}"> Login again?</a>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}