{% extends "base.html" %}
{% load static %}

{% block title %}
    Регистрация
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header.html" %}
{% endblock %}

{% block content %}
    <form class="form-account" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-light">Register an account</h1>

        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required>
        <input type="password" name="password1" id="inputPassword1" class="form-control" placeholder="Password" required>
        <input type="password" name="password2" id="inputPassword2" class="form-control" placeholder="Confirm password" required>

        {% for field in form %}
            {% for error in field.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <div class="form-group g-recaptcha" data-sitekey="6LcBs-EUAAAAAKxLQzaJSbKACCHZHvlq8NRR5G-a"></div>

        <button class="btn btn-lg btn-secondary btn-block" type="submit">Register</button>
    </form>
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}