{% extends "base.html" %}
{% load static %}

{% block title %}
    Регистрация
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header_login.html" %}
{% endblock %}

{% block content %}
    <div class="register_page_form">
        <form action="" method="post">{% csrf_token %}
            {% for field in form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}

                    {% for error in field.errors %}
				        <p style="color: red;">{{ error }}</p>
			        {% endfor %}

                </p>
            {% endfor %}
        <input type="submit" value="Зарегистрировать">
    </form>
    </div>
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}