{% extends "base.html" %}
{% load static %}

{% block title %}
    Мой аккаунт
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header.html" %}
{% endblock %}

{% block content %}
    <div class="account_page_form">

        <form method="post" action="{% url 'details' %}">
            {% csrf_token %}
            {% for field in account_form %}
                <p>
                    {{ field.label_tag }}
                    {{ field }}

                    {% if field.help_text %}
                        <small>{{ field.help_text }}</small>
                    {% endif %}

                </p>
            {% endfor %}

            {% for field in account_form %}
                {% for error in field.errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            {% endfor %}

            {% if account_form.non_field_errors %}
                <p>{{ account_form.non_field_errors }}</p>
            {% endif %}

            <input type="submit" value="Save changes" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <h3>Узнать детали текущего аккаунта ajax'ом</h3>
        <div id="jsonresp">
            <p> id : <span id="id"></span></p>
            <p> Email : <span id="email"></span></p>
            <p> Username : <span id="username"></span></p>
            <p> Last login : <span id="last_login"></span></p>
        </div>

        <button class="apireq">click me </button>

    </div>
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'core/js/testing.js' %}"></script>
{% endblock %}