{% extends "base.html" %}
{% load static %}

{% block title %}
    Мой аккаунт
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <form class="form-account" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal text-light">Account details</h1>

        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus value={{account_form.initial.email}}>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="Username" required value="{{account_form.initial.username}}">

        {% for field in account_form %}
            {% for error in field.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        {% if form.non_field_errors %}
            {% for error in account_form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% if success_message%}
            <p class="success">{{ success_message }}</p>
        {% endif %}
        <button class="btn btn-lg btn-secondary btn-block" type="submit">Save changes</button>

    </form>

    <div class="d-flex flex-column">
      <a class="m-auto text-light" href="{% url 'password_change' %}">Change password</a>
    </div>

<!--        <h3>Узнать детали текущего аккаунта ajax'ом</h3>-->
<!--        <div id="jsonresp">-->
<!--            <p> id : <span id="id"></span></p>-->
<!--            <p> Email : <span id="email"></span></p>-->
<!--            <p> Username : <span id="username"></span></p>-->
<!--            <p> Last login : <span id="last_login"></span></p>-->
<!--        </div>-->

<!--        <button class="apireq">click me </button>-->

{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% endblock %}