{% extends "base.html" %}
{% load static %}

{% block title %}
    Мой аккаунт
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/ico/list.ico' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <div class="mx-auto bookings">
        <table class="table text-light">
            <thead>
                <tr>
                    <th scope="col">Table</th>
                    <th scope="col">Dt start</th>
                    <th scope="col">Dt end</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                    <tr id="{{ booking.pk }}" onclick="openModalQR({{ booking.pk }})">
                        <td class="bookings__short_description">{{ booking.table.short_description }}</td>
                        <td class="bookings__datetime">{{ booking.dt_start|date:'H:i, d.m' }}</td>
                        <td class="bookings__datetime">{{ booking.dt_end|date:'H:i, d.m' }}</td>
                        <td class="bookings__delete" onclick="deleteBooking(event, {{ booking.pk }})">X</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="account_details">
        <a class="text-light" href="{% url 'account' %}">Account details</a>
    </div>

<!--Модальное окно с qr-кодом-->
    <div class="qrModal">
        <p>Покажите бармену</p>
        <span class="close qrModal__close">ₓ</span>
        <div id="qrcode"></div>
    </div>
    <div class="overlay"></div>
<!------------------------------>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="{% static 'core/js/qr/qrcode.min.js' %}"></script>
    <script src="{% static 'core/js/main.js' %}"></script>
{% endblock %}