{% extends "base.html" %}
{% load static %}

{% block title %}
    Abstract anticafe
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/ico/cup.ico' %}">
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.css">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
<!--Параша с флексбокс-гридом2-->
<!--https://evgenyrodionov.github.io/flexboxgrid2/-->
<div class="container">
    <div class="row">
        {% for table in tables %}
            <div class="col-xs-12 col-md-4 col-lg-3">
                <a href="tables/{{ table.pk }}" class="mini_table__block">
                    <img class='mini_table__img {% if table.is_busy %}busy{% endif %}'
                         src="{% get_static_prefix %}core/img/tables/table_{{ table.pk }}/table_{{ table.pk }}-min.jpg">
                    {% if table.is_busy %}
                        <div class="font-weight-bold text-light busy">Busy</div>
                    {% endif %}
                </a>
            </div>
        {% endfor %}

        {% if user.is_staff %}
            <div class="col-xs-12 col-md-4 col-lg-3">
                <a href="{% url 'add_table' %}" class="text-light add_table__block">Add table</a>
            </div>
        {% endif %}
    </div>
</div>
<!--Конец параши-->
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
