{% extends "base.html" %}
{% load static %}
{% block title %}Главная страница{% endblock %}


{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}


{% block content %} 
<div class="header">Верхняя панель</div>

<div class="content">Столики
    <div class="tables">
        <div class="table">1</div>
        <div class="table">2</div>
        <div class="table">3</div>
        <div class="table">4</div>
        <div class="table">5</div>
        <div class="table">6</div>
        <div class="table">7</div>
        <div class="table">8</div>
        <div class="table">9</div>
        <div class="table">10</div>
    </div>

</div>

<div class="footer">Подвал</div>
{% endblock %}