{% extends "base.html" %}
{% load static %}

{% block title %}
    Главная страница
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
    <link rel="stylesheet" href="https://unpkg.com/flexboxgrid2@7.2.1/flexboxgrid2.css">
{% endblock %}

{% block header %}
    {% include "core/header.html" %}
{% endblock %}

{% block content %}
<!--Параша с флексбокс-гридом2-->
<!--https://evgenyrodionov.github.io/flexboxgrid2/-->
<div class="container content">
    <div class="row">
        {% for table in tables %}
            <div class="col-xs-6 col-md-4 col-lg-3">
                <a href="tables/{{ table }}" class="table">
                    <div class="block" onclick="countRabbits()">{{ table }}</div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
<!--Конец параши-->
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
<script src="{% static 'core/js/testing.js' %}"></script>
{% endblock %}
