{% extends "base.html" %}
{% load static %}

{% block title %}
    Забронировать стол{{ table.pk }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header.html" %}
{% endblock %}

{% block content %}
    {% for field in form %}
        <p>
            {{ field.label_tag }}
            {{ field }}

            {% if field.help_text %}
                <small>{{ field.help_text }}</small>
            {% endif %}

            {% for error in field.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}

        </p>
    {% endfor %}
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'core/js/testing.js' %}"></script>
{% endblock %}