{% extends "base.html" %}
{% load static %}

{% block title %}
    Забронировать стол
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header.html" %}
{% endblock %}

{% block content %}
    <h1 class="h3 my-2 font-weight-normal text-light">{{ table.short_description }} booking</h1>
    <form class="form-account" method="post">
        {% csrf_token %}
        <input name="table" id="id_table" value="{{ table.pk }}" hidden>
        <input name="account" id="id_account" value="{{ request.user.pk }}" hidden>
        {% for field in form.visible_fields %}
            <label class="text-light mb-0">{{ field.label }}</label>
            {{ field }}

            {% if field.help_text %}
                <small>{{ field.help_text }}</small>
            {% endif %}

            {% for error in field.errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endfor %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}
        <button class="btn btn-lg btn-secondary btn-block mt-5" type="submit">Забронировать</button>
    </form>
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}

{% block scripts %}
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <script src="{% static 'core/js/datetimepicker.js' %}"></script>
{% endblock %}