{% extends "base.html" %}
{% load static %}

{% block title %}
    Стол {{ table.pk }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header.html" %}
{% endblock %}

{% block content %}
    <img class="table_img" src="{% get_static_prefix %}core/img/tables/table_{{ table.pk }}/table_{{ table.pk }}.jpg">
    <div class="table_details">
        {% for paragraph in table.description %}
            <p>{{ paragraph }}</p>
        {% endfor %}
        <button class="book_now" onclick="bookingNow({{ table.pk }})">Забронировать</button>
    </div>
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'core/js/testing.js' %}"></script>
{% endblock %}