{% extends "base.html" %}
{% load static %}

{% block title %}
    Стол {{ table_id }}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "core/header.html" %}
{% endblock %}

{% block content %}
    <img class="table_img" src="{% get_static_prefix %}core/img/tables/table_{{ table_id }}/table_{{ table_id }}.jpg">
    <div class="table_details">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dictum ultricies risus sed sollicitudin. Maecenas justo felis, gravida quis sapien vitae, scelerisque tempus nunc. Nunc commodo, tortor sed euismod mollis, augue tortor condimentum tellus, interdum dignissim massa eros vitae nulla. Fusce ac tempor est. Phasellus sit amet velit vitae eros aliquam egestas. Donec ut libero elit. Aliquam nec lectus ligula. Aliquam erat volutpat. Etiam tempor eget felis vel tempor.</p>
        <p>Integer ultricies accumsan massa, nec egestas ipsum pulvinar ac. Cras sit amet magna a nunc viverra laoreet non ac nulla. Proin nec ullamcorper sem, quis lacinia diam. Maecenas cursus facilisis mauris, vel dictum magna bibendum semper. Fusce posuere a neque a euismod. Nunc ut auctor magna.</p>
        <button class="book_now" onclick="bookingNow({{table_id}})">Забронировать</button>
    </div>
{% endblock %}

{% block footer %}
    {% include "core/footer.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'core/js/testing.js' %}"></script>
{% endblock %}