html, body {
    margin: 0;
    height: 100%;
    background-color: #3f3f3f;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    background-color: #262626;
    color: aliceblue;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.loginout_button {
    margin-left: 20px;
}

.login_page_form {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.account_page_form {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.register_page_form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.login_block {
    display:flex;
    margin-right: 40px;
}

.main_logo {
    margin-left: 30px;
    vertical-align: middle;
    height: 50px;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.content {
    display: table-row;
    height: 100%;
}

.table {
    text-decoration: none;
}

.table_img {
    height: 300px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table_details {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.book_now {
    height: 40px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

/*По-моему здесь слишком много всего o_0 */
.block {
    margin: 8px 0;
    height: 240px;
    line-height: 240px;
    font-size: 48px;
    text-align: center;
    user-select: none;
    background-color: #353535;
    color: aliceblue;
    transition: 0.3s;
}

.block:hover {
    background-color: #4c4c4c;
    transition: 0.4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.footer {
    height: 140px;
    font-size: 90px;
    text-align: center;
    line-height: 140px;
    background-color: #232323;
    color: aliceblue;
}

.wrong_url {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*не люблю фронт'енд*/