html, body {
    margin: 0;
    height: 100%;
    background-color: #3f3f3f;
}

.header {
    margin-bottom: 50px;
    height: 80px;
    font-size: 30px;
    line-height: 80px;
    background-color: #262626;
    color: aliceblue;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.content {
    display: table-row;
    height: 100%;
}

.table {
    text-decoration: none;
}

/*По-моему здесь слишком много всего o_0 */
.block {
    margin: 8px 0;
    height: 240px;
    line-height: 240px;
    font-size: 48px;
    text-align: center;
    user-select: none;
    background-color: #353535;
    color: aliceblue;
}

.block:hover {
    background-color: #848484;
}

.footer {
    height: 140px;
    font-size: 90px;
    text-align: center;
    line-height: 140px;
    background-color: #232323;
    color: aliceblue;
}

.wrong_url {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*не люблю фронт'енд*/