html, body {
    margin: 0;
    height: 100%;
    background-color: #3f3f3f;
}

header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 80px;
    font-size: 2em;
    line-height: 70px;
    background-color: #262626;
    color: aliceblue;
}

a {
    color: aliceblue;
    text-decoration: none;
}

.loginout_button {
    margin-left: 20px;
}

.login_page_form {
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.account_page_form {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.register_page_form {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.login_block {
    display:flex;
    margin-right: 25px;
}

.main_logo {
    margin-left: 30px;
    vertical-align: middle;
    height: 60px;
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.content {
    display: table-row;
    height: 100%;
}

.table {
    text-decoration: none;
}

.table_img {
    height: 300px;
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.table_details {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.book_now {
    height: 40px;
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.block {
    margin-top: 8px;
    margin-bottom:8px;
    user-select: none;
}

@media screen and (min-width:768px) and (max-width:991px) {
     .block {
        height: 200px;
    }
}

@media screen and (min-width:992px) and (max-width:1199px) {
     .block {
        height: 200px;
    }
}

@media screen and (min-width:1200px){
     .block {
        height: 200px;
    }

    .desktop {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray; /* IE 6-9 */
        transition: 0.3s;
    }

    .desktop:hover {
        width: 100%;
        height: 100%;
        -webkit-filter: none;
        -moz-filter: none;
        -ms-filter: none;
        -o-filter: none;
        filter: none;
        filter: none; /* IE 6-9 */
        transition: 0.4s;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    }
}

.mini_table {
    width: 100%;
    height: 100%;
}

.footer {
    margin-top: 50px;
    height: 140px;
    font-size: 90px;
    text-align: center;
    line-height: 140px;
    background-color: #232323;
    color: aliceblue;
}

.wrong_url {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

::-webkit-scrollbar { width: 4px;}
::-webkit-scrollbar-track {  background-color: #835e45;}
::-webkit-scrollbar-track-piece { background-color: #3f3f3f;}
::-webkit-scrollbar-thumb { height: 50px; background-color: #835e45;}
::-webkit-scrollbar-corner { background-color: #3f3f3f;}}
::-webkit-resizer { background-color: #3f3f3f}
