{% extends "base.html" %}
{% load static %}

{% block title %}
    Add table
{% endblock %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/css/index.css' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'core/img/ico/favicon.ico' %}">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <p>I will add the table</p>
{% endblock %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}
